:root{
    --primary-color:#387237;
    --secondary-color:#CB232C;
    --dark-color:#292929;
    --white-color:#e7e7e7;
}
body{
    color:var(--dark-color)
}
h1,h2,h3,h4,h5,h6 {
    color: var(--primary-color);
}
main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer{
    padding-right:1rem;
}
footer .social>a{
    color: var(--white-color);
    opacity: 0.75;
}
footer .social>a:hover{
    color: var(--secondary-color);
    opacity: 0.9;
    

}
.bsicon{
    color: purple;
}
.jsicon{
    color:rgb(207, 207, 33);
}

.htmlicon{
    color: orangered;
}

.cssicon{
    color:(11,82,214);
}
.checklist >li i{
    color: var(--primary-color);
}

code[class*="language-"],
pre[class*="language-"] {
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
}

.brand-nav{
    font-family:'Orbitron', sans-serif;
}